<div class="card shadow-sm ">
    <div class="div-size">
        <img class="img-fluid bg-light img-size" src="{{product.pictureUrl}}" alt="{{product.name}}">
    </div>
    <div class="card-body">
        <a class="" routerLink="/shop/{{product.id}}">
            <h6>{{product.name}}</h6>
        </a>
        <div class="my-3">
            <span class="text-uppercase ">{{product.price|currency}}</span>
        </div>


        <div class="btn-group mt-auto d-flex justify-content-between mt-3 ">
            <button type="button" class="btn btn-outline-secondary me-3 fa fa-shopping-cart mr-2"></button>
            <button  type="button" class="btn btn-outline-secondary"
            routerLink="/shop/{{product.id}}"
            >View</button>
        </div>

    </div>
</div>