<div class="content">
    <carousel>
        <slide>
            <img src="assets/imgs/carousel-imgs/img0.jpg" alt="slide" style="display: block; width: 100%;">
        </slide>
        <slide>
            <img src="assets/imgs/carousel-imgs/img1.jpg" alt="slide" style="display: block; width: 100%;">
        </slide>
        <slide>
            <img src="assets/imgs/carousel-imgs/img2.webp" alt="slide" style="display: block; width: 100%;">
        </slide>
        <slide>
            <img src="assets/imgs/carousel-imgs/img3.png" alt="slide" style="display: block; width: 100%;">
        </slide>
        <slide>
            <img src="assets/imgs/carousel-imgs/img4.jpg" alt="slide" style="display: block; width: 100%;">
        </slide>
    </carousel>
</div>
<section class="featured">
    <div class="d-flex justify-content-center pt-4">
        <h1>Welcome to the Shop!</h1>
    </div>
</section>