<h2>Pa$$w0rd</h2>


<div class="container">
  <div class="col-3 mt-5">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <h1 class="h3 mb-3 fw-normal ">Sign in </h1>

      <div class="form-floating mb-3">
        <input formControlName="email" type="email" class="form-control" id="floatingInput"
          placeholder="name@example.com">
        <label for="floatingInput">Email address</label>

        <span class="text-danger m-3" style="font-size: 12px;" *ngIf="loginForm.get('email')?.invalid
                && loginForm.get('email')?.touched
                && loginForm.get('email')?.errors">
          Email address is required
        </span>
      </div>
      <div class="form-floating">
        <input formControlName="password" type="password" class="form-control" id="floatingPassword"
          placeholder="Password">
        <label for="floatingPassword">Password</label>
        <span class="text-danger m-3" style="font-size: 12px;" *ngIf="loginForm.get('password')?.invalid
                && loginForm.get('password')?.touched
                && loginForm.get('password')?.errors">
          Password is required
        </span>
      </div>

      <button [disabled]="loginForm.invalid" class="btn btn-primary w-100 py-2" type="submit">Sign in</button>
    </form>
  </div>
</div>