a {
  text-decoration: none;
  list-style: none;
}
.font-size-20 {
  font-size: 20px;
  font-weight: bold;
}

.cart-no {
  position: absolute;
  display: inline-block;
  background-color: red;
  color: white;
  padding: 0.2em 0.5em;
  min-width: 20px;
  min-height: 20px;
  border-radius: 50%;
  text-align: center;
  top: -12px;
  left: 30px;
  font-weight: bold;
}

a.active {
  color: rgb(64, 123, 250);
  box-shadow: 0 2px 0px rgba(64, 123, 250, 0.5); /* Shadow with the color #0d6efd */
  border-radius: 5px;
}
