.img-size {
  width: 100%;
  height: 100%;
}

.div-size {
  height: 200px;
  position: relative; 
  /* <--added--> */

}
.btn {
  width: 30%;
  height: 40px;
}

.imager:hover  {
  opacity: 1;
}

.imager:hover .hoverOverlay {
  transform: none;
  opacity: 1;
}

.hoverOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.5);
  opacity: 0;
  transition: all 0.5s;
  z-index: 111;
}
