<div class="container fixed-top " style="background-color: white;">

    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom ">
        <a class="d-flex align-items-center hovering py-2" routerLink="/">
            <img src="/assets/imgs/logo4.png" style="max-width: 60px;" alt="">
            <h5 class="mx-2 text-black">SmartPhoneShop</h5>
        </a>


        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto mx-auto text-uppercase">
            <a class="p-2 me-2 textStyle hovering" routerLink="/" routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }">Home</a>

            <a class="p-2 me-2 textStyle hovering" routerLink="/shop" routerLinkActive="active">Shop</a>
            <a class="p-2 me-2 textStyle hovering" routerLink="">Contact</a>
        </nav>

        <div class="d-flex align-items-center">

            <div class="mr-5 mx-5 d-flex align-items-center">
                <a routerLink="/basket" class="position-relative">

                    <i class="fa fa-shopping-cart fa-2x me-2  "></i>
                    <!-- <div class=" cart-no ">{{basketLength}}</div> -->
                    <div *ngIf="(basket$|async)as basket" class=" cart-no ">{{basket.items.length}}</div>

                </a>
            </div>

            <ng-container *ngIf="(currentUser$ | async)?.token ==='' ">
                <a routerLink="/account/register" class="btn btn-outline-secondary me-2">Sign up</a>
                <a routerLink="/account/login" class="btn btn-outline-secondary me-2">Sign in</a>
            </ng-container>

            <ng-container *ngIf="(currentUser$ | async)?.token !=='' ">
                <!-- add dropdown logout -->
                <div class="dropdown ml-3 mr-5 " dropdown>
                    <a class="dropdown-toggle loginName" style="cursor: pointer;" dropdownToggle>
                        <strong>Welcome {{ ((currentUser$ | async)?.dispalyName) }}</strong>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" style="cursor: pointer;" *dropdownMenu>
                        <a routerLink="/basket" class="dropdown-item d-flex align-item-center py-2">
                            <i class="fa fa-shopping-cart me-3"> </i>View Basket
                        </a>
                        <a routerLink="/orders" class="dropdown-item d-flex align-item-center py-2">
                            <i class="fa fa-history me-3"> </i>View Orders
                        </a>
                        <div class="dropdown-divider"></div>
                        <a (click)="logout()" class="dropdown-item d-flex align-item-center py-2">
                            <i class="fa fa-sign-out me-3"> </i>Logout
                        </a>
                    </div>
                </div>
            </ng-container>

        </div>
    </div>

</div>